<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">

      <h3>Actors</h3>
      <br>

      <%= form_tag actors_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :title => nil %>
        </p>
      <% end %>

      <table class="table table-condensed">
        <thead>
          <tr>
          <th>Name</th>
          <th>Popularity</th>
          <th></th>
          <th></th>
          <th></th>
          </tr>
        </thead>

        <tbody>
          <% @actors.each do |actor| %>
            <tr>
              <td><%= link_to actor.name, actor %></td>
              <td><%= actor.view_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="pagination">
        <%= will_paginate @actors %>
      </div>
    </div>
    <div class="span3">
      <ul class="nav nav-list">
        <li><h5><%= link_to 'New Actor', new_actor_path %></h5></li>
        <li class="divider"></li>
        <li><h5><%= link_to "Top Movies", top_movies_movies_path %></h5></li>
        <li class="divider"></li>
        <li><h5><%= link_to "Current Releases", top_movies_movies_path %></h5></li>
        <li class="divider"></li>
        <li><h5><%= link_to "Upcoming Movies", top_movies_movies_path %></h5></li>
        <li class="divider"></li>
        <li><h5><%= link_to "Actors Gallery", top_movies_movies_path %></h5></li>
        <li class="divider"></li>
      </ul>
    </div>
  </div>
</div>
