<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">

      <h3>Actors</h3>
      <br>

      <%= form_tag actors_path, :method => 'get', :id => "actors_search" do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :title => nil %>
        </p>
      <% end %>

      <div id="actors">
        <%=render 'actors'%>
      </div>

      <div class="pagination">
        <%= will_paginate @actors %>
      </div>
      
    </div>
    <div class="span3">
      <%= render 'side_nav'%>
    </div>
  </div>
</div>
