<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @actor.dob.strftime("%d %B, %Y")%>
</p>

<p>
  <strong>Biography:</strong>
  <%= @actor.biography %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @actor.rating %>
</p>

<p>
  <strong>Popularity:</strong>
  <%@actor.view_count += 1 %>
  <%@actor.save%>
  <%= @actor.view_count %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>

<h4>Reviews (<%=@actor.reviews.count%>)</h4>
<%= render "reviews/reviews" %>
<%= render "reviews/form" %>
