<%= form_for @movie, :html => { :multipart => true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :release_date %>
    <%= f.date_select(:release_date,:start_year => 1940,:end_year => Time.now.year + 5) %>
  </div> 
  <div class="field">
    <%= f.label :actors %> 
    <%= hidden_field_tag "movie[actor_ids][]", nil%>
    <% Actor.all.each do |actor| %>
      <%= check_box_tag "movie[actor_ids][]", actor.id, @movie.actor_ids.include?(actor.id) %>
      <%= actor.name %><br>
    <% end %><br>
  </div>
  <div class="field">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, :rows => 5 %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
