<ul class="nav nav-list">
    <li><h5><%= link_to 'New Movie', new_movie_path %></h5></li>
    <li class="divider"></li>
    <li><h5><%= link_to 'All Movies', movies_path %></h5></li>
    <li class="divider"></li>
    <li><h5><%= link_to "Top Movies", top_movies_movies_path %></h5></li>
    <li class="divider"></li>
    <li><h5><%= link_to "Current Releases", current_releases_movies_path %></h5></li>
    <li class="divider"></li>
    <li><h5><%= link_to "Upcoming Movies", upcoming_movies_movies_path %></h5></li>
    <li class="divider"></li>
    <li><h5><%= link_to "Movies Gallery", movies_gallery_movies_path %></h5></li>
    <li class="divider"></li>
</ul>