<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">

      <h3>Movies</h3>
      <br>

      <%= form_tag movies_path, :method => 'get', :id => "movies_search" do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :title => nil %>
        </p>
      <% end %>

      <div id="movies">
        <%=render 'movies'%>
      </div>

      <div class="pagination">
        <%= will_paginate @movies %>
      </div>

    </div>
    <div class="span3">
      <%= render 'side_nav'%>
    </div>
  </div>
</div>

