<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date.strftime("%d %B, %Y") %>
</p>

<p>
  <strong>Casting:</strong>
  <%=@movie.actors.map { |f| f.name }.join ', '%>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Popularity:</strong>
  <%@movie.view_count += 1 %>
  <%@movie.save%>
  <%= @movie.view_count %>
</p>

<%= link_to 'Home', welcome_index_path %> |
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
