<div class="container">
  <div class="row">
    <div class="span6">
      <p>
        <strong>Title:</strong>
        <%= @movie.title %>
      </p>

      <p>
        <strong>Director:</strong>
        <%= @movie.director %>
      </p>

      <p>
        <strong>Release date:</strong>
        <%= @movie.release_date.strftime("%d %B, %Y") %>
      </p>

      <p>
        <strong>Casting:</strong>
        <%=@movie.actors.map { |f| f.name }.join ', '%>
      </p>

      <p>
        <strong>Synopsis:</strong>
        <%= @movie.synopsis %>
      </p>

      <p>
        <strong>Rating:</strong>
        <%= @movie.rating %>
      </p>

      <p>
        <strong>Popularity:</strong>
        <%@movie.view_count += 1 %>
        <%@movie.save%>
        <%= @movie.view_count %>
      </p>

      <h5><%= link_to 'Edit Movie', edit_movie_path(@movie) %> |
      <%= link_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure?' } %> </h5>
    </div>


    <div class="span3">
      <h4>Reviews (<%=@movie.reviews.count%>)</h4>
      <%= render "reviews/reviews" %>
      <%= render "reviews/form" %>
    </div>
    <div class="span2">
      <h4>Photos</h4>
      <%= render partial: "movie_photos/form" %>
      <%= render partial: "movie_photos/movie_photos" %>
    </div>
  </div>
</div>


