<%= form_for [@actor, @actor_photo] do |f| %>
  <% if @actor_photo.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @actor_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.hidden_field :actor_id, :value => @actor.id%><br>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>
  
  <div class="field">
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>