<!DOCTYPE html>
<html>
<head>
  <title>Flicks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Flicks</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home", welcome_index_path %></li>
            <li><%= link_to "Movies", movies_path %></li>
            <li><%= link_to "Actors", actors_path %></li>
          </ul>
        </div>
        <div class="nav-collapse pull-right">
          <ul class="nav">
            <% if user_signed_in? %>
              <li><%= link_to 'Logged in as '+current_user.username + ' - Edit Profile' , edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %></li>
              <%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>


  <%= yield %>
</div>

</body>
</html>
